*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
min-height:100dvh;
display:flex;
justify-content:center;
align-items:center;
background:#D60B2A;
font-family:-apple-system,BlinkMacSystemFont,"SF Pro Display",Helvetica,Arial,sans-serif;
color:white;
overflow:hidden;
}

/* glow */

body::before{
content:"";
position:absolute;
width:700px;
height:700px;
background:radial-gradient(circle, rgba(255,255,255,0.18), transparent 65%);
filter:blur(120px);
animation:glowMove 8s ease-in-out infinite alternate;
}

@keyframes glowMove{
0%{
transform:translate(-150px,-80px);
}

100%{
transform:translate(150px,80px);
}

}
